.setbox {
  &-item {
    display: flex;
    gap: 20px;
    text-align: left;
    img {
      width: 40%;
      height: max-content;
    }
    & ~ .setbox-item {
      margin-top: 30px;
    }
    &__text {
      flex: 1;
    }
    &__title {
      font-weight: bold;
      font-size: 2rem;
      span {
        color: #009999;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .setbox {
    &-item {
      flex-direction: column;
      &__title {
        font-size: 1.8rem;
      }
    }

    img {
      width: 100%;
    }
  }
}

.custom-title {
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
}

.big-text {
  font-size: 1.75rem;
}

.plan {
  text-align: left;
  &-item {
    margin-top: 50px;
  }
  &.detail {
    padding: 50px 0;
  }

  &-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.2;
    span{
      display: inline-block;
      position: relative;
      padding-left: 20px;
      &::before {
        content: '';
        width: 6px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #008FAF 0, #0196AF 25%, #03A9B0 63%, #07C8B1 100%);
      }
    }
    & ~ .plan-title {
      margin-top: 50px;
    }
  }
  .flex-images {
    margin-top: 30px;
    display: flex;
    gap: 30px;

    & > img {
      width: 50%;
      height: max-content;
    }

    &__point {
      width: 50%;
      padding: 30px;
      border: 3px dashed #7F7F7F;
      border-radius: 35px;
    }
    &__title {
      font-weight: bold;
      font-size: 2rem;
      & + p {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .custom-title {
    font-size: 1.6rem;
  }

  .plan {
    &.detail {
      padding: 25px 0;
    }
    &-title {
      font-size: 2rem;
    }
    .flex-images {
      flex-direction: column;
      & > img {
        width: 100%;
      }
      &__point {
        width: 100%;
        padding: 20px;
      }
    }
  }
}